.form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
.form-check label {
    position: relative;
    cursor: pointer;
  }
.form-check label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #c8a121;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-check input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }