// colors
$black: #000000;
$white: #ffffff;
$golden-yellow: #f0da98;
$off-white: #f5f5f5;


// FONT SIZE 
// ---------
$large-font-size: 20px;
$base-font-size: 18px;
$small-font-size: 14px;


// FONT WEIGHT
// -----------
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$balckbold: 900;
